/* colors */
$background-color-main: #1c2128;
$background-color-container: #22272e;
$background-color-navbar: #2d333b;
$background-color-input: #1c2128;
$background-color-button: #347d39;

$font-color-main: #627080;
$font-color-header: #adbac7;
$font-color-blue: #4780c8;
$font-color-button: #f1f6f2;
$font-color-input: #a3acb8;

$border-color-input: #545d68;

/* font sizes */
$font-size-searchbar-error: 0.8rem;
$font-size-main-message: 2rem;
$font-size-header: 2rem;