@import "./utils";

.repos__list {
    background-color: $background-color-main;

    &__message {
        color: $font-color-header;
        text-align: center;
        margin-top: 30vh;
        font-size: $font-size-main-message;
    }

    &__user {
        font-size: $font-size-username;
        color: $font-color-header;
        margin: 30px 20px 20px 20px;
    }
}

body {
    background-color: $background-color-main;
}