@import "../utils";

.nav-bar {
    display: flex;
    flex-direction: column;
    background-color: $background-color-navbar;

    &__top {

        margin: 15px 10px 5px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &--logo {
            width: 4rem;
            height: 4rem;
            cursor: pointer;
            margin-right: 20px;
        }

        &--heading {
            color: $font-color-header;
            font-size: 2rem;
        }
    }
}