$background-color-main: #1c2128;
$background-color-container: #22272e;
$background-color-navbar: #2d333b;
$background-color-input: #1c2128;
$background-color-button: #347d39;

$font-color-main: #4e5862;
$font-color-header: #adbac7;
$font-color-blue: #4780c8;
$font-color-button: #f1f6f2;
$font-color-input: #545d68;

$border-color-input: #545d68;
